@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #244013;
    --text-color: #222121;
}
html{
    font-size: 10px;
}
body{
    font-family: Inter, sans-serif;
    background-color: rgb(190, 246, 172);
    color: black;
}

/* я не знаю нащо це */
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: rgb(60, 64, 30);
}
.description{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}
.title{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.item_preTitle{
    font-size: 1.4rem;
    color:var(--text-color);
    font-weight: 300;
}
.item_title{
    font-size: 1.6rem;
    color: darkgreen;
    font-weight: 500;
    margin: 0.8rem 0;
}
.item_subtitle{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

/* я не знаю нащо це */
.container{
    max-width: 10000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: #c8e9b4;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
@media only screen and (max-width: 768px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}
.profile{
    grid-column: 1 /-1;
    margin-bottom: 2rem;
}
.group-1,
.group-2{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
group-3
{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    grid-column: 1 /-1;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.group-3 > div {
    flex: 1;
}
@media only screen and (max-width:768px){
   .profile{
    margin-bottom: 0;
   }
    .group-3{
        flex-direction: column;
    }   

/* я не знаю нащо це */
.profile_container{
    display: flex;
    gap: 2rem;
}
.profile_profileImg{
    max-width: 250px;
}
.profile_name_firstName{
    color: rgb(67, 46, 46);
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 4rem);
    text-decoration: uppercase;
    display: block;
    margin-bottom: 0.8rem;
}
.profile_name_lastName{
    color: var(--primary-color);
    font-weight: 700;
    font-size: clamp(2.5rem,15vw,7rem);
    text-transform: uppercase;
    display:block;
}
.profile_title{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}
.downloadBtn{
    display: block;
    text-decoration: underline;
    font-size: 1.6rem;
    margin-top: 1rem;
}
.downloadBtn:hover{
    color: var(--primary-color);
}
@media only screen and (max-width: 768px){
    .profile_container{
        flex-direction: column;
    }
}

/* Контакти */
.skill_list{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}

/* Досвід */
.experience_item {
    margin-top: 2rem;
}
.experience_name {
    font-size: 1.6rem;
    font-weight: 700;
}

/* education */
.education_item {
    margin-top: 2rem;
}

/* навички */
.навички_item{
    margin-top: 2rem;
}

/* other */
.other_item{
    margin-top: 2rem;
}

hr{
    grid-column:  1 /-1;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
    border: none;
    border-top: 2px seagreen;
}
@media only screen and (max-width:768px){
    hr {
        margin: 0 auto ;
    }
}